@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section class="outer-section">
    <p>
        First of all, we love animals! and if you're here then it means you love 'em too!
        We want to help make the world a better place and find a warm and loving home for every cat, dog and any other pet out there, this is why we've started AdoptMe (And also we kinda have too because it's a course project)
    </p>
</section>