@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<section class="outer-section">
    <address>
        One AdoptMe Way<br />
        Herzliya, Israel<br />
        <abbr title="Phone">P:</abbr>
        972.52.500.7788
    </address>
</section>

<section class="outer-section">
    <address>
        <strong>Support:</strong>   <a href="mailto:yovel333@gmail.com">yovel333@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:bensur8@gmail.com">bensur8@gmail.com</a>
    </address>
</section>