@{
    ViewBag.Title = "Home Page";
}
<div id="content">
    <section id="about-us" class="multiple-columns">
        <h3>About Us</h3>
        First of all, we love animals! and if you're here then it means you love 'em too!
        We want to help make the world a better place and find a warm and loving home for every cat, dog and any other pet out there, this is why we've started AdoptMe (And also we kinda have too because it's a course project)
    </section>
    <section>
        <h3>How does this work</h3>
        <p>write some text here!</p>
    </section>
</div>