
@{
    ViewBag.Title = "AnimalsStatistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Statistics.css")
<section class="outer-section">
    <h2>Statistics Page</h2>
</section>

<section id="statistics">
    <section class="outer-section">
        <section id="agencies-stats-section">
            <h3>Adoption Agencies Stats</h3>
            <div id="pie-chart"></div>
        </section>
    </section>
    <section class="outer-section">
        <section id="animals-stats-section">
            <h3>Animals Stats</h3>
            <div id="bar-chart"></div>
        </section>
    </section>
    @Scripts.Render("~/Scripts/d3/d3.min.js")
    @Scripts.Render("~/Scripts/StatisticsGraph.js")
</section>